<h1>About Me</h1>
<hr>
<div class="row">
  <div class="col-md-4">
    <%= image_tag "my_photo.jpg",width:300,alt:"My Profile Pic" %>
  </div>
  <div class="col-md-8">
  <p>  Experienced tester with a demonstrated history of working in the computer software industry.
    Skilled in Automation and No functional testing.
    Bug Tracking, Regression Testing, Black Box Testing, Functional Testing, and Quality Assurance.
    Strong quality assurance professional with a BE focused in Information Technology from Pune University</p>
  </div>
</div>

